@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body{
     background-color: #fefdfb;
     zoom: 0.9;
}

.navbar_container {
  background-color: #fffbf8;
  transition: background-color 0.3s ease;
}

.nav-link{
    font-size: 1.2rem;
}

.navbar.scrolled {
  background-color: rgba(255, 251, 248, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header_image{
  filter: brightness(0.6)
}

.header_section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  width: 100%;
}

.contents h1 {
  font-size: 6rem;
  text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.contents2 h2{
      font-size: 4rem;
}

.card {
  border-style: solid;
  border: #9b5b5b;
  border-width: 1px;
  box-shadow: -1px 5px 5px #e2e2e1;
  padding: 2.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.card:hover {
  border: 1px solid #b20101;
  box-shadow: 0 10px 20px rgba(178, 1, 1, 0.2);
  transform: translateY(-5px);
}

.divider {
  width: 100px;
  height: 10px;
  background-color: #b20101;
  margin: 0 auto;
  border-radius: 10px;
}

.divider2 {
  width: 100px;
  height: 10px;
  background-color: #b20101;
  border-radius: 10px;
}

.footer_divider{
  margin: 1rem 0rem 1rem 0rem;
  width: 100%;
  height: 1px;
  background-color: #999797;
  border-radius: 10px;
}

.sub_specs span{
    color: #747586;
}

.cta a{
    color: #b20200;
}

.red_font{
    color: #b20200;
}

.project_image {
  box-shadow: -1px 5px 10px #c6c6c6;
  transition: transform 0.8s ease;
  transform-origin: center;
}

.project_image:hover {
  transform: scale(1.05);
  box-shadow: -1px 5px 30px #c6c6c6;
}

.price {
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 1;
}

.price span {
  border-radius: 15px;
  color: white;
}

.header_section img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.service_icons{
  background-color: #f4dfdc;
  padding: 1.3rem;
  border-radius: 1rem;
}

.gallery_container{
  background-color: #fcf9f6;
}

.schedule_container{
  background-color: #b20300;
  padding: 3rem;
}

.badges img{
  width: 7rem;
}